<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.christianapps.heavensadv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".activities.MainActivity" android:label="@string/main_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        <activity
            android:name=".activities.SituationsActivity"
            android:label="@string/situations_title"
            android:theme="@style/SituationStyle">
        </activity>
        <activity
            android:name=".activities.BibleVersesActivity"
            android:label="@string/bibleverses_title"
            android:theme="@style/SituationStyle" />
                   
    </application>

</manifest>